@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #E5F2F7;
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    overflow: hidden; /* Add overflow: hidden to prevent horizontal scrollbar */
}

.split {
    min-width: 50%; /* Set a minimum width */
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.img {
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    left: 50px; /* Set the left position to 50px */
    z-index: 2;
}

.comingsoon {
    color: #2786AC;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.5px;
    position: absolute;
    top: 125px;
    left: 50px;
    z-index: 2;
}

.svg {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 150px;
    left: 0px;
    z-index: 2;
}

.web_name {
    color: #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 15px;
    line-height: 50px;
    letter-spacing: 0.4px;
    position: absolute;
    top: 125px;
    left: 50px;
    right: 50px;
    z-index: 2;
}

.desc {
    color: #FFF;
    font-family: Poppins;
    position: absolute;
    top: 250px;
    left: 50px;
    right: 50px;
    z-index: 2;
}

.split.left {
    min-width: 50%; /* Set a minimum width */
    left: 0; /* Position it on the left */
    background-image: linear-gradient(180, #fff, #ddd);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

/* Remove padding-right to align content to the left in smaller screens */
@media (max-width: 768px) {
    .split.left {
        padding-right: 0;
    }
}

.split.right {
    min-width: 50%; /* Set a minimum width */
    right: 0; /* Position it on the right */
    background-image: linear-gradient(#2786AC, #023243);
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align content to the right */
    justify-content: center;
    padding: 20px;
    text-align: center; /* Center the text */
    overflow: hidden;
}

/* Remove padding-left for smaller screens to align content to the right */
@media (max-width: 768px) {
    .split.right {
        padding-left: 0;
    }
}

.web_name {
    text-align: right;
}

.desc {
    padding-right: 0;
    padding-bottom: 30px;
    text-align: right;
}

#countdown {
    text-align: right;
    padding-right: 20px;
}

#countdown {
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-weight: SemiBold;
    color: #FFF;
    display: flex;
    margin-right: 130px;
    transform: scale(2);
    margin-bottom: 120px;
    position: absolute;
    top: 400px;
    right: 20px;
    z-index: 2;
}

.time {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2 {
    font-size: semibold;
    font-size: 20px;
    line-height: 1;
    margin: 0 0 5px;
}

/* Define the two-column layout */
.two-column {
    display: flex;
    background-image: linear-gradient(200, #2786AC, #023243);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .split.left,
    .split.right {
        min-width: 100%; /* Set a minimum width for smaller screens */
    }

    .split.right {
        align-items: flex-start; /* Align content to the left on smaller screens */
    }
}
